body {
    background-color: aliceblue;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: darkblue;
}

.names p{
    font-size: small;
    color: blueviolet;
}